<div class="col-md-12">

  <h2 class="text-center"> All Locations </h2>

  <% if @locations.exists? %>
  
    <table class="table">
      <thead>
        <tr>
          <th> Name </th>
          <th colspan="2"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <td> <%= location.name %> </td> 
            <td> <%= link_to('Edit', edit_admin_location_path(location), class: "btn btn-info") %></td>
            <td> <%= link_to('Delete', admin_location_path(location), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <p>There is no location yet. <%= link_to 'Create now ?', new_admin_location_path %></p>
  <% end %>
</div>