<div class="col-md-12 orders">

  <span>23</span>
  <span>32</span>
  <span>55</span>
  <span>77</span>

  <% if @orders.exists? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th> Name </th>
            <th> Quantity </th>
            <th> Last Update </th>
            <th colspan="2"></th>
          </tr>
        </thead>
        
        <tbody>
          <% @orders.each do |fooditem| %>
            <tr>
              <td> <%= fooditem.food.name %> </td>
              <td> <%= fooditem.quantity %> </td>
              <td> <%= fooditem.updated_at.to_formatted_s(:short) %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>There is no order yet.</p>
  <% end %>
</div>