<div class="col-md-12">

  <h2 class="text-center"> Your Orders </h2>

  <% if @orders.exists? %>
  
    <table class="table">
      <thead>
        <tr>
          <th> Name </th>
          <th> Last Update </th>
          <th colspan="2"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @orders.each do |fooditem| %>
          <tr>
            <td> <%= fooditem.food.name %> </td>
            <td> <%= fooditem.updated_at.to_formatted_s(:short) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <p>There is no order yet.</p>
  <% end %>
</div>