<div class="col-md-12 orders">

  <% if true#@orders.exists? %>
    
    <div class="order-numbers">
      <span>23</span>
      <span>32</span>
      <span>55</span>
      <span>77</span>
      <span>32</span>
      <span>44</span>
      <span>66</span>
      <span>87</span>
      <span>14</span>
      <span>57</span>
      <span>12</span>
      <span>3</span>
      <span>99</span>
    </div>

    <div class="order">
      <div class="col-xs-5 order-left " style="height: 300px;">
        <h1>23</h1>
        <span>13:33</span>
      </div>


      <div class="col-xs-7 order-right" style="height: 300px;">
        <div>
          <span class="order-item">牛肉</span>
          <span class="pull-right order-item">1</span>
        </div>
        <div>
          <span class="order-item">麵</span>
          <span class="pull-right order-item">2</span>
        </div>
        <div>
          <span class="order-item">牛肉</span>
          <span class="pull-right order-item">3</span>
        </div>
        <div>
          <span class="order-item">牛肉牛肉</span>
          <span class="pull-right order-item">4</span>
        </div>
        <div>
          <span class="order-item">牛肉牛肉牛肉</span>
          <span class="pull-right order-item">5</span>
        </div>
      </div>


    </div>
<!--
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th> Name </th>
            <th> Quantity </th>
            <th> Last Update </th>
            <th colspan="2"></th>
          </tr>
        </thead>
        
        <tbody>
          <% @orders.each do |fooditem| %>
            <tr>
              <td> <%= fooditem.food.name %> </td>
              <td> <%= fooditem.quantity %> </td>
              <td> <%= fooditem.updated_at.to_formatted_s(:short) %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
-->
  <% else %>
    <p>There is no order yet.</p>
  <% end %>
</div>