<h2>今天想吃什麼？</h2>
<% unless user_signed_in? %>
  <div id="before_order_login_form">
    <%= render 'partial/log_in' %>
  </div>
  <div id="you_can_order_now" class="hide">
    <p>Sign in successfully!</p>
  </div>
<% end %>
<%= render 'form' %>