<%= simple_form_for @order do |f| %>
  <div class="tab-content">
    <%= render 'form', f: f %>
  </div>
    <!-- Nav tabs -->
  <ul class="tabs" id="new_order_tabs">
    <li role="presentation" class="tab col s4"><a class="active" href="#choose" aria-controls="choose" role="tab" data-toggle="tab"><span class="fa fa-search" aria-hidden="true"></span></a></li>
    <li role="presentation" class="tab col s4"><a href="#quantity" aria-controls="quantity" role="tab" data-toggle="tab"><span class="fa fa-pencil" aria-hidden="true"></span></a></li>
    <li role="presentation" class="tab col s4"><a href="#check" aria-controls="check" role="tab" data-toggle="tab"><span class="fa fa-check" aria-hidden="true"></span></a></li>
  </ul>
<% end %>