<footer class="container" style="margin-top: 100px;">
  <p class="text-center"><%= link_to "Admin Login", admin_orders_path %></p>
  <p class="text-center">
    Copyright ©2015 Come2eat <br>
    Design by <a href="">GoodNine</a>
  </p>
</footer>