<footer class="container" style="margin-top: 100px;">
  <%= index_or_login_links('admin', '管理員頁面', '管理員登入') %>
  <%= index_or_login_links('restaurant', '店家管理頁面', '合作店家登入') %>

  <p class="text-center">
    Copyright ©2015 Come2eat <br>
    Design by <a href="">GoodNine</a>
  </p>
</footer>