<footer class="container" style="margin-top: 100px;">
  <p class="text-center"><%= link_to "管理員登入", admin_orders_path %></p>
  <p class="text-center"><%= link_to "合作店家登入", new_restaurant_session_path %></p>
  <p class="text-center">
    Copyright ©2015 Come2eat <br>
    Design by <a href="">GoodNine</a>
  </p>
</footer>